<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wanmait.exam.mapper.KnowledgeBulletMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.wanmait.exam.entity.KnowledgeBullet">
        <id column="id" property="id" />
        <result column="knowledge_point" property="knowledgePoint" />
        <result column="subject_id" property="subjectId" />
        <result column="update_time" property="updateTime" />
        <result column="enable" property="enable" />
        <association property="subject" javaType="com.wanmait.exam.entity.Subject">
            <id column="id" property="id" jdbcType="INTEGER" />
            <result column="subject_title" property="title" jdbcType="VARCHAR" />
            <result column="enable" property="enable" />
        </association>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        knowledge_bullet.id, knowledge_point, subject_id, update_time, knowledge_bullet.enable
    </sql>
    <select id="selectList" resultMap="BaseResultMap">
        select <include refid="Base_Column_List" />, subject.id, subject.title subject_title, subject.enable from knowledge_bullet
        left join subject on knowledge_bullet.subject_id = subject.id
        where knowledge_bullet.enable = 1 and subject.enable = 1
        order by knowledge_bullet.id asc
    </select>

</mapper>
