<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wanmait.exam.mapper.PaperModelMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.wanmait.exam.entity.PaperModel">
        <id column="id" property="id" />
        <result column="question_type_id" property="questionTypeId" />
        <result column="question_count" property="questionCount" />
        <result column="model_id" property="modelId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, question_type_id, question_count, model_id
    </sql>

</mapper>
