<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wanmait.exam.mapper.TestMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.wanmait.exam.entity.Test">
        <id column="id" property="id" />
        <result column="title" property="title" />
        <result column="subject_id" property="subjectId" />
        <result column="paper_id" property="paperId" />
        <result column="class_id" property="classId" />
        <result column="start_time" property="startTime" />
        <result column="end_time" property="endTime" />
        <result column="teacher_id" property="teacherId" />
        <result column="input_time" property="inputTime" />
        <result column="enable" property="enable" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, title, subject_id, paper_id, class_id, start_time, end_time, teacher_id, input_time, enable
    </sql>

</mapper>
